@import "node_modules/lbox-shared/assets/styles/utils/variables";

$color-title: #646fcb;

.menu {
  height: var(--theme-menu-height);

  .menu-link {
    padding: 0.6em;
    border-radius: var(--theme-border-radius);
  }

  a.title-link {
    color: $color-title;

    img.title-image {
      height: calc($lb-menu-height - 8px);
    }

    .title-label {
      font-size: 1.2em;
      font-weight: bolder;
      margin-left: 0.4rem;
    }

    &:hover, &:visited, &:focus {
      color: $color-title;
    }
  }

}
